<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.learn.domain.member.entity.Member" alias="Member"/>
        <typeAlias type="com.example.learn.domain.article.entity.Article" alias="Article"/>
        <typeAlias type="com.example.learn.domain.article.entity.ArticleContent" alias="ArticleContent"/>
        <typeAlias type="com.example.learn.global.page.Pagination" alias="Pagination"/>
    </typeAliases>
</configuration>
